*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #0a0a0a;
    color: white;
}

header {
    width: 100%;
    padding: 20px 60px;
    position: fixed;
    top: 0;
    background: rgba(0,0,0,0.9);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: #bbb;
    font-size: 18px;
}

.nav-links a:hover {
    color: #20b2aa;
    transition: 0.5s;
}

.hero {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
}

.hero-text h2 {
    font-size: 45px;
}

.hero-text span {
    color: #20b2aa;
}

.hero-text p {
    font-size: 22px;
    margin: 10px 0 20px;
}

.btn {
    padding: 12px 25px;
    background: #20b2aa;
    color: #000;
    font-weight: bold;
    text-decoration: none;
    border-radius: 15px 0 23px;
}

.hero-img img {
    width: 310px;
    border-radius: 40px 20px;
}

/*--------about section---------*/
.about {
    padding: 100px 60px;
    background: #111;
}

.about-container {
    display: flex;
    align-items: center;
    gap: 50px;
}

.about-text h3 {
    font-size: 38px;
    margin-bottom: 20px;
}

.about-text p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 25px;
}

.skills-list {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.skills-list li {
    list-style: none;
    padding: 8px 15px;
    background: #20b2aa;
    color: #000;
    font-weight: bold;
    border-radius: 5px 10px;
}

.about-img img {
    width: 280px;
    border-radius: 20px 0 25px
}

/*--------PROJECT SECTION---------*/
.project {
    padding: 100px 60px;
    background: #0a0a0a;
}

.section-title {
    text-align: center;
    font-size: 38px;
    margin-bottom: 60px;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 25px;
}

.project-card {
    background: #111;
    padding: 25px;
    border-radius: 15px;
    transition: 0.4s;
    border: 1px solid transparent;
}

.project-card:hover {
    border-color: wheat;
    transform: translateY(-5px);
}

.project-card h3 {
    margin-top: 15px;
    font-size: 22px;
}

.project-card p {
    font-size: 17px;
    margin-bottom: 20px;
    color: #ccc;
}

.project-card .btn {
    background: deepskyblue;
    display: inline-block;
    padding: 10px 18px;
}

/*----CONTACT SECTION------*/
.contact {
    padding: 100px 60px;
    background: #111;
}

.contact-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 16px;
}

.contact-form button {
    width: 100%;
    cursor: pointer;
}
.contact-form button:hover {
    color: #20b2aa;
    transition: 0.4s;
    border-color: antiquewhite;
    background: #111;
    transform: translateX(-5px);
}

.contact-info h3 {
    margin-bottom: 15px;
    font-size: 24px;
}

.contact-info ul li {
    margin: 10px 0;
    font-size: 18px;
}

/*---------ANIMATION---------*/
.hero-text, .about-text, .project-card, .contact-form {
    opacity: 0;
    transform: translateY(40px);
    animation: fadeUp 0.9s ease forwards;
}

.project-card:nth-child(2)
{ animation-delay: 0.2s; }
.project-card:nth-child(3)
{ animation-delay: 0.4s; }

@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*-------RESPONSIVE DESIGN---------*/
@media (max-width: 900px) {
    header {padding: 20px 30px;}
    
    .hero {
        flex-direction: column;
        text-align: center;
        gap: 30px;
        padding-top: 120px;
    }

    .hero-img img {width: 250px;}

    .about-container {
        flex-direction: column;
        text-align: center;
    }

    .about-img img {width: 250px;}

    .contact-container {grid-template-columns: 1fr;}
}